@section Scripts{
	<script src="~/js/RegisterResearcher.js"></script>
}

<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
	<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
		<div class="d-flex align-items-center flex-wrap mr-2">
			<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Pesquisadores</h5>
			<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
			<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
				@if (Model.Id != 0)
				{
					<li class="breadcrumb-item">
						<a href="/Researcher" class="text-muted">Editar Pesquisador</a>
					</li>
				} else
				{
					<li class="breadcrumb-item">
						<a href="/Researcher" class="text-muted">Adicionar Pesquisador</a>
					</li>
				}
			</ul>
		</div>
	</div>
</div>

<form>
	<div class="card-body">
		<div class="form-group row">
			<input id="researcher-id" value=@Model.Id hidden />
			<label class="col-form-label col-md-2 col-sm-12 text-sm-left text-md-right">Nome<span class="text-danger">*</span></label>
			<div class="col-md-8 col-sm-12">
				<input id="researcher-name" type="text" class="form-control" placeholder="Digite o nome" value="@Model.Name"/>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-md-2 col-sm-12 text-sm-left text-md-right">CPF<span class="text-danger">*</span></label>
			<div class="col-md-8 col-sm-12">
				<input id="researcher-document" type="text" class="form-control" placeholder="Digite o CPF" value="@Model.Cpf" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-md-2 col-sm-12 text-sm-left text-md-right">Tipo</label>
			<div class="col-md-8 col-sm-12">
				<select class="form-control select2" id="select-type" name="param" @(Model.Id != 0 ? "disabled" : "")>
					@if (Model.Id == 0)
					{
						<option value="@ResearcherType.Student.ToString()">Aluno</option>
						<option value="@ResearcherType.Teacher.ToString()">Docente</option>
						<option value="@ResearcherType.Employee.ToString()">Funcionário</option>
					} else
					{
						if (Model.Type == ResearcherType.Student.ToString())
						{
							<option value="@ResearcherType.Student.ToString()" selected>Aluno</option>
						}
						else if (Model.Type == ResearcherType.Teacher.ToString())
						{
							<option value="@ResearcherType.Teacher.ToString()" selected>Docente</option>
						} 
						else
						{
							<option value="@ResearcherType.Employee.ToString()" selected>Funcionário</option>
						}
					}
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-md-2 col-sm-12 text-sm-left text-md-right">Área do conhecimento</label>
			<div class="col-md-8 col-sm-12">
				<select class="form-control select2" id="select-area" name="param" multiple="multiple" @(Model.Id != 0 ? "disabled" : "")>
					@if (Model.Id == 0)
					{
						foreach (Area area in ViewBag.Areas)
						{
							<option value="@area.Id">@area.Name</option>
						}
					}
					else
					{
						foreach (Area area in ViewBag.Areas)
						{
							if (Model.idAreas.Contains(area.Id))
							{
								<option value="@area.Id" selected>@area.Name</option>
							}
						}
					}
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-md-2 col-sm-12 text-sm-left text-md-right">Subárea do conhecimento</label>
			<div class="col-md-8 col-sm-12">
				<select class="form-control select2" id="select-subarea" name="param" multiple="multiple" @(Model.Id != 0 ? "disabled" : "")>
					@if (Model.Id != 0)
					{
						foreach (Subarea subarea in ViewBag.Subareas)
						{
							if (Model.idSubareas.Contains(subarea.Id))
							{
								<option value="@subarea.Id" selected>@subarea.Name</option>
							}
						}
					}
				</select>
			</div>
		</div>
	</div>
</form>

<div class="card-footer">
	<div class="col-md-12 text-lg-right">
		<button type="button" class="btn btn-secondary" id="btnBack" onclick="location.href='/Researcher/Index'">Voltar</button>
		<button type="button" class="btn btn-success mr-2" id="btnSubmit">Salvar</button>
	</div>
</div>